.cuerpo {
  background-size: cover;
  background-color: #a2dba4a0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;


}

span {
  font-size: 45px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 140, 0);
}

.cubo {
  width: 60vw;
  height: 30vh;
}

.btn {
  float: right;
}

.div {
  font-size: 20px;

}