<div class="c-container">
    <h1>Welcome to the Forum</h1>
    <div class="c-buttons">
        <div class="row">
            <button class="c-button" routerLink="/usuario/login">Login</button>
            <button class="c-button" routerLink="/usuario/register">Register</button>
        </div>
        <div class="row">
            <button class="c-button c-large" routerLink="/usuario/recuperar-password">Forgot Password?</button>
        </div>
    </div>
</div>