.c-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}
.c-container .c-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 80px;
}
.c-container .c-buttons .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.c-container .c-buttons .row .c-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.c-container .c-buttons .row .c-button:hover {
    transform: scale(1.1);
}
.c-container .c-buttons .row .c-large {
    width: 60%;
}