<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Registrar Usuario</h3>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="Correo">
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched">
                                El Correo <strong>es requerido</strong>
                            </span>
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">
                                Correo <strong>invalido</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                placeholder="Contraseña">
                            <span class="text-danger"
                                *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                                La Contraseña <strong>es requerida</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                            La Contraseña como minimo <strong>debe tener 6 caracteres</strong>
                        </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="repetirPassword" class="form-control form-control-lg"
                                placeholder="Repetir Contraseña">
                            <span class="text-danger" *ngIf="registerForm.hasError('notSame')">
                                Contraseñas <strong>distintas</strong>
                            </span>
                        </div>
                        <button routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>