<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recuperar Contraseña</h3>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo..">
                            <div class="text-danger" 
                                *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                                El correo <strong>es obligatorio</strong>
                            </div>
                            <div class="text-danger" 
                            *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched" >
                                Correo <strong>invalido</strong>
                            </div>
                        </div>
                        <button routerLink="/usuario" class="btn btn-secondary btn-lg"> Volver</button>
                        <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg float-end"> Aceptar</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>